.message {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#contactIframe {
    display: none;
    width: 0px;
    height: 0px;
}
#message {
    margin-top: 10px;
    margin-bottom: 10px;
}
#addcomponistiframe {
    border: 0px;
    width: 100%;
    height: 300px;
} 
#adminiframe {
    width: calc(100% - 30px);
    height: calc(100% - 200px);
    border: 0px;
    position: absolute;
}
#adminbody {
    background: white;
}
button {
    cursor: pointer;
}

@media only screen and (min-width: 960px){
    #adminiframe {
        width: calc(100% - 278px);
        height: calc(100% - 200px);
    } 

}



.calendar-container {
    font-size: 800px;
}
#googleMapsIframe {
    width: 100%;
    height: 250px;
}
#googleCalendarIframe {
    width: 100%;
    height: 450px;
}

.loginmessage {
    max-width: 400px;
    margin: auto;
}