body{
    background-color: #343a40;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

.title{
    color: grey;
}

h1{
    color: black;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

.searchBar{
    background: #857991;
    font-size: 17px;
}
.search:hover {
  background: #ccc;
}

.search {
    border-radius: 4px;
    width: 100%;
}

.input {
    border-radius: 4px;
}

.select{
    display: inline-block;
   background-color: white;
    border-radius: 4px;
}

.select::after{
    content: "";
    width: 0px;
    height: 0px;
    border-top: 9px solid black;
}

.musicBox{
    background-color: white;
    border-radius: 25px;
    margin: 20px;
    padding: 35px;
    color: black;
}

.musicBox h1{
    border-radius: 10px;
    padding: 10px;
    background-color: #857991;
}
